---
layout: page
---

{% assign num = page.photos.size %}

<h1>{{ page.title }}</h1>
<ul class="list-photos ">
  <li class="list-photos__item">
    <img src="{{ site.baseurl }}/assets/images/photos/{{ page.photos.set }}-cover.JPG"
      alt="Photo 0 from {{ page.photos.set | capitalize }}">
  </li>
  {% for i in (1..num) %}
  <li class="list-photos__item">
    <img src="{{ site.baseurl }}/assets/images/photos/{{ page.photos.set }}-{{ i }}.JPG"
      alt="Photo {{ i }} from {{ page.photos.set | capitalize }}">
  </li>
  {% endfor %}
</ul>
<div>
  <a href="{{ site.baseurl }}/photos/">
    <h4 style="text-align: center;" class="card__desc">View All Photo Sets</h4>
  </a>
</div>